{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "plugins": ["react-hooks", "prettier"],
    "extends": [
        "eslint:recommended",
        "react-app",
        "plugin:react/recommended",
        "prettier"
    ],
    "rules": {
        "camelcase": ["error"],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline"
            }
        ],
        "comma-spacing": ["error"],
        "consistent-this": ["error", "self"],
        "default-case": 0,
        "eol-last": ["error", "always"],
        "eqeqeq": ["error", "smart"],
        "global-require": 0,
        "key-spacing": ["error"],
        "keyword-spacing": ["error"],
        "new-cap": [
            "error",
            {
                "capIsNew": false,
                "newIsCap": true
            }
        ],
        "no-else-return": ["error"],
        "no-extend-native": ["error"],
        "no-lonely-if": ["error"],
        "no-multi-str": ["error"],
        "no-nested-ternary": 0,
        "no-param-reassign": 0,
        "no-return-assign": ["error"],
        "no-shadow": 0,
        "no-unused-vars": ["warn"],
        "no-useless-escape": 0,
        "object-curly-spacing": ["error", "never"],
        "one-var": [
            "error",
            {
                "var": "always",
                "let": "always",
                "const": "never"
            }
        ],
        "quotes": ["error", "single"],

        "arrow-body-style": ["error", "as-needed"],
        "arrow-parens": ["error", "as-needed"],
        "arrow-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "generator-star-spacing": ["error", "after"],
        "no-class-assign": 0,
        "no-duplicate-imports": "error",
        "object-shorthand": [
            "error",
            "always",
            {
                "avoidQuotes": true
            }
        ],
        "prefer-arrow-callback": ["error"],
        "prefer-const": [
            "error",
            {
                "destructuring": "any",
                "ignoreReadBeforeAssign": false
            }
        ],
        "prefer-rest-params": ["error"],
        "prefer-template": ["error"],
        "rest-spread-spacing": ["error", "never"],
        "sort-imports": [
            "warn",
            {
                "ignoreCase": true,
                "memberSyntaxSortOrder": ["multiple", "single", "all", "none"]
            }
        ],
        "template-curly-spacing": ["error", "never"],
        "yield-star-spacing": ["error", "after"],

        /*"react/boolean-prop-naming": [
            "error",
            {"rule": "^(is|has|can)[A-Z]([A-Za-z0-9]?)+"}
        ],*/
        "react/display-name": 0,
        //"react/destructuring-assignment": ["error"],
        "react/jsx-equals-spacing": ["error"],
        "react/jsx-key": ["error"],
        "react/jsx-fragments": ["error"],
        "react/jsx-sort-props": [
            "error",
            {
                "reservedFirst": true,
                "shorthandLast": true
            }
        ],
        "react/jsx-wrap-multilines": ["warn"],
        "react/prefer-stateless-function": ["error"],
        "react/sort-prop-types": ["error"],

        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",

        "prettier/prettier": ["error"]
    },
    "globals": {
        "jest": false,
        "process": false,
        "Promise": true,
        "localStorage": true,
        "iridize": true
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}
